{:paths ["resources"]
 :deps  {ch.qos.logback/logback-classic          {:mvn/version "1.2.6"}
         ch.qos.logback/logback-core             {:mvn/version "1.2.6"}
         org.slf4j/slf4j-api                     {:mvn/version "1.7.32"}
         org.slf4j/jcl-over-slf4j                {:mvn/version "1.7.32"}
         org.slf4j/log4j-over-slf4j              {:mvn/version "1.7.32"}
         org.apache.logging.log4j/log4j-to-slf4j {:mvn/version "2.14.1"}
         org.slf4j/osgi-over-slf4j               {:mvn/version "1.7.32"}
         org.slf4j/jul-to-slf4j                  {:mvn/version "1.7.32"}}}
